$colBlu: #28afc3;
$border: 1px solid red;
$colHover: #ff8d61;


body {

    header {
        width: 100%;
        height: 100vh;
        background-image: url(../img/home_slider_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -159px;
        position: fixed;
    }

    >nav {
        width: 100%;
        height: 90px;
        background-color: $colBlu;
        padding-left: 9%;
        padding-right: 9%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0px auto;
        z-index: 1000000;

        >figure {
            width: 20%;
            height: 100%;
            // border: 2px solid red;
            justify-content: start;
            align-items: center;
            display: flex;

            >img {
                // border: 2px solid red;
                width: 100%;
            }
        }

        >ul {

            // border: $border;
            display: flex;
            width: 65%;
            height: 100%;
            justify-content: start;
            align-items: center;
            padding-left: 15.675%;

            >li {
                // border: $border;
                display: flex;
                justify-content: start;
                flex-wrap: wrap;
                position: relative;
                transition: 1s;

                &:nth-of-type(1)~li {
                    margin-left: 49px;
                }

                &:nth-of-type(1)>a {
                    color: #fff;

                    &::after {
                        content: '';
                        width: 20px;
                        height: 20px;
                        background-color: $colBlu;
                        transform: rotate(45deg);
                        position: absolute;
                        top: 37.5px;
                        opacity: 1;
                    }
                }

                &:hover>a {
                    color: #fff;
                    transition: .5s;
                }

                &:hover>a::after {

                    content: '';
                    // border: $border;
                    width: 20px;
                    height: 20px;
                    background-color: $colBlu;
                    transform: rotate(45deg);
                    position: absolute;
                    top: 37.5px;
                    transition: .4s;
                    opacity: 1;
                }

                .dropdown {
                    // border: $border;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                }

                &:hover>ul.drop {
                    visibility: visible;
                    opacity: 1;
                    transition: .5s;
                }

                .drop {
                    // border: $border;
                    width: 250%;
                    position: absolute;
                    top: 80px;
                    left: 0;
                    display: flex;
                    background-color: rgb(247, 247, 247);
                    flex-wrap: wrap;
                    visibility: hidden;
                    opacity: 0;
                    transition: .5s;
                    z-index: 3;

                    >li {
                        // border: $border;
                        display: flex;
                        width: 100%;
                        height: 51px;
                        justify-content: center;
                        align-content: center;
                        color: black;
                        z-index: 2;

                        &:nth-of-type(1)>a::before {
                            content: '';
                            // border: $border;
                            width: 20px;
                            height: 20px;
                            background-color: rgb(247, 247, 247);
                            transform: rotate(45deg);
                            position: absolute;
                            top: -2.5px;
                            left: 23px;
                            opacity: 1;
                            z-index: -10000;
                        }

                        &:hover {
                            background-color: $colBlu;
                            z-index: 1000;
                        }

                        &:hover>a {
                            z-index: 999;
                            color: white;
                        }

                        &:hover>a::before {
                            background-color: $colBlu;

                        }

                        >a {
                            // border: $border;
                            width: 100%;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                            text-transform: capitalize;
                            font-size: 14px;
                            transition: .4s;
                            padding-left: 22px;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            z-index: 1;
                        }
                    }
                }

                >a {
                    // border: $border;
                    display: flex;
                    font-size: 15px;
                    text-transform: capitalize;
                    color: rgba(255, 255, 255, 0.70);
                    position: relative;
                    justify-content: center;
                    transition: .4s;
                    width: 100%;

                    &::after {
                        content: '';
                        width: 20px;
                        height: 20px;
                        background-color: $colBlu;
                        transform: rotate(45deg);
                        position: absolute;
                        top: 40px;
                        transition: 1s;
                        opacity: 0;
                    }
                }
            }
        }

        >div {
            // border: $border;
            display: flex;
            width: 10%;
            align-items: center;
            justify-content: center;
            padding-left: 20px;
            position: relative;

            >ul {
                // border: $border;
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;


                >li {
                    display: flex;
                    // border: $border;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    position: relative;


                    &:hover>ul {
                        visibility: visible;
                        opacity: 1;
                        transition: .5s;
                    }

                    &::before {
                        position: absolute;
                        content: '';
                        // border: $border;
                        width: 100%;
                        height: 40px;
                        top: 40px;
                    }

                    >a {
                        // border: $border;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-transform: uppercase;
                        font-size: 13px;
                        font-weight: 900;
                        color: #fff;
                        background-color: #191919;
                        border-radius: 2px;
                        transition: .2s ease;


                        &:hover {
                            background-color: $colHover;
                            transition: .2s ease;
                        }
                    }

                    >ul {
                        // border: $border;
                        position: absolute;
                        width: 140%;
                        top: 77.5px;
                        right: 0;
                        background-color: rgb(247, 247, 247);
                        visibility: hidden;
                        opacity: 0;

                        >li {

                            // border: $border;
                            display: flex;
                            width: 100%;
                            height: 51px;
                            justify-content: start;
                            align-items: center;
                            color: black;
                            z-index: 2;

                            &:nth-of-type(1)>a::before {
                                content: '';
                                // border: $border;
                                width: 20px;
                                height: 20px;
                                background-color: rgb(247, 247, 247);
                                transform: rotate(45deg);
                                position: absolute;
                                top: -2.5px;
                                right: 32.5px;
                                opacity: 1;
                                z-index: -10000;
                            }

                            &:hover {
                                background-color: $colBlu;
                                z-index: 1000;
                            }

                            &:hover>a {
                                z-index: 999;
                                color: white;
                            }

                            &:hover>a::before {
                                background-color: $colBlu;

                            }

                            >a {
                                // border: $border;
                                width: 100%;
                                height: 100%;
                                font-size: 15px;
                                text-transform: capitalize;
                                padding-left: 22px;
                                padding-top: 12px;
                                padding-bottom: 12px;

                            }
                        }
                    }
                }
            }
        }

        >.search {
            width: 5%;
            // border: $border;
            position: relative;
            display: flex;
            justify-content: end;
            align-items: center;

            &:hover>div {
                visibility: visible;
                opacity: 1;
            }

            &::after {
                content: '';
                width: 20px;
                height: 20px;
                background-color: $colBlu;
                transform: rotate(45deg);
                position: absolute;
                top: 73px;
                transition: 1s;
                opacity: 0;
            }

            &::before {
                content: '';
                width: 100%;
                height: 300px;
                position: absolute;
                // border: $border;
            }

            /* the code below is generated by blackbox AI */

            &:hover::after {
                opacity: 1;
            }

            >a {
                >span {
                    display: flex;
                    // border: $border;
                    width: 50%;
                    // height: 50%;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    cursor: pointer;
                }
            }

            >div {
                // border: $border;
                width: 290px;
                height: 81px;
                position: absolute;
                top: 116px;
                right: -5px;
                background-color: rgb(247, 247, 247);
                padding: 12px 24px;
                display: flex;
                visibility: hidden;
                opacity: 0;

                &::before {
                    content: '';
                    // border: $border;
                    width: 20px;
                    height: 20px;
                    background-color: rgb(247, 247, 247);
                    transform: rotate(45deg);
                    position: absolute;
                    top: -3px;
                    right: 5px;
                    opacity: 1;
                }

                >input {
                    width: 80%;
                    padding: 10px;

                    &::placeholder {
                        color: #707070;
                        font-size: 13px;
                    }

                }

                >div {
                    width: 30%;
                    // border: $border;
                    width: 57px;
                    height: 57px;
                    background-color: #191919;
                    display: flex;
                    transition: .2s;

                    &:hover {
                        background-color: $colBlu;
                        transition: .2s;
                    }

                    >a {
                        width: 100%;
                        height: 100%;

                        >span {
                            width: 100%;
                            height: 100%;
                            font-size: 22px;
                            font-weight: bolder;
                            color: #fff;
                            justify-content: center;
                            align-items: center;
                            display: flex;

                            >.material-symbols-outlined {
                                font-variation-settings:
                                    'FILL' 0,
                                    'wght' 700,
                                    'GRAD' 0,
                                    'opsz' 48
                            }
                        }
                    }
                }
            }
        }
    }


    >main {
        width: 100%;
        height: 100vh;
        // border: $border;
        padding-left: 9%;
        position: relative;

        >h1 {
            // border: $border;
            font-size: 150px;
            width: 100%;
            height: 160px;
            color: #fff;
            text-transform: capitalize;
            font-weight: 700;
            align-items: center;
            display: flex;
            margin-top: 290px;
        }

        >p {
            width: 100%;
            // border: $border;
            font-size: 24px;
            color: #fff;
            height: 24px;
            margin-top: -92.5px;
        }

        >div {
            width: 281px;
            height: 55px;
            background-color: $colBlu;
            margin-top: -142.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            // border-radius: 2px;

            >a {
                width: 100%;
                height: 100%;
                // border: $border;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                color: #fff;
                font-size: 20px;
                font-weight: 700;


                &:hover {
                    background-color: $colHover;
                    transition: .2s;
                }
            }
        }

    }

    >.par {
        // border: $border;
        width: 100%;
        height: 55vh;
        background-color: rgb(242, 242, 242);
        display: flex;
        margin: 50px auto;
        margin-bottom: 0;
        position: relative;
        justify-content: center;
        padding-top: 40px;


        >h3 {
            padding: 100px auto;
            // border: $border;
            width: 72%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            letter-spacing: 5px;
            color: rgb(82, 82, 82);

        }

        >p {
            // border: $border;
            width: 72%;
            font-size: 30px;
            text-align: center;
            color: rgb(112, 112, 112);
        }
    }

    >article {
        // border: $border;
        width: 100%;
        background-color: #fff;
        position: relative;


        >div {
            // border: $border;
            width: 100%;
            padding-top: 120px;
            display: flex;
            padding-left: 9%;
            padding-right: 9%;
            flex-wrap: wrap;

            >p {
                display: flex;
                // border: $border;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 6px;
                color: rgb(82, 82, 82);
                width: 100%;
                margin: 0 auto;
                justify-content: center;
                align-items: center;

            }

            >h2 {
                display: flex;
                width: 100%;
                // border: $border;
                justify-content: center;
                align-items: center;
                font-size: 48px;
                font-weight: 700;
                text-transform: capitalize;
                padding: 24px;
                position: relative;
                margin-bottom: 100px;

                &::after {
                    content: '';
                    position: absolute;
                    border: 1px solid #ff8d61;
                    width: 90px;
                    bottom: 0;
                    // z-index: 1000;


                }
            }
        }



        >.news {
            // border: $border;
            background-color: #fff;
            width: 100%;
            padding: 0px 9%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 70px;

            >.news_box {
                width: 100%;
                // border: $border;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;



                >div {
                    // border: $border;
                    width: 32%;
                    display: flex;
                    flex-direction: column;


                    >figure {
                        // border: $border;
                        display: flex;
                        width: 100%;
                        height: 250px;
                        overflow: hidden;
                        position: relative;
                        top: 0;
                        left: 0;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 15px;

                        &::after {
                            position: absolute;
                            top: 0;
                            left: 0;
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-color: #ffffff10;
                            opacity: 0;
                            transition: .4s ease-in-out;
                        }

                        &:hover::after {
                            opacity: 1;
                            transition: .4s ease-in-out;
                        }

                        &:hover>img {
                            width: 100%;
                            height: 100%;
                            transition: 1s;
                        }


                        >img {
                            // border: $border;
                            position: absolute;
                            display: flex;

                            width: 120%;
                            height: 120%;
                            object-fit: contain;
                            transition: 1s;

                        }
                    }

                    >a {

                        // border: $border;
                        width: 100%;
                        display: flex;
                        font-size: 18px;
                        font-weight: 700;
                        margin-bottom: 15px;
                        transition: .2s ease-in-out;

                        &:hover {
                            color: $colBlu;
                            transition: .2s ease-in-out;
                        }
                    }

                    >span {
                        // border: $border;
                        font-size: 13px;
                        color: rgb(112, 112, 112);
                        font-weight: 400;
                        margin-bottom: 15px;

                        >a {
                            font-size: 13px;
                            color: rgb(25, 25, 25);
                            transition: .2s ease;

                            &:hover {
                                color: #28afc3;
                                transition: .2s ease;
                            }
                        }
                    }

                    >p {
                        // border: $border;
                        line-height: 25px;
                        color: rgb(112, 112, 112);

                    }
                }
            }



            .more {
                // border: $border;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 600px;
                background-image: url(../img/featured_article_1_bg.jpg);
                background-size: cover;
                margin: 70px auto;
                padding-left: 100px;
                padding: 0 100px 100px 100px;
                align-content: end;
                padding-bottom: 100px;

                >* {
                    display: flex;
                    width: 100%;
                    color: white;
                    height: 60px;
                    align-items: center;
                    margin: 10px 0;

                }

                >h3 {
                    // border: $border;
                    font-size: 16px;
                    width: 600px;
                    letter-spacing: 6px;
                    height: 40px;
                }

                >h2 {
                    // border: $border;
                    font-size: 40px;
                    font-weight: 700;

                }

                >p {
                    // border: $border;
                    font-size: 15px;
                    line-height: 29px;

                }

                >div {
                    display: flex;
                    // border: $border;
                    width: 210px;
                    height: 55px;
                    background-color: #191919;
                    padding-left: 0;
                    transition: .4s;
                    justify-content: center;
                    align-items: center;
                    border-radius: 2px;

                    &:hover {
                        background-color: $colHover;
                    }

                    >a {
                        display: flex;
                        // border: $border;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        text-transform: uppercase;
                        font-weight: 700;
                        margin: 0px auto;


                        >span.material-symbols-outlined {
                            // border: $border;
                            font-variation-settings:
                                'FILL' 0,
                                'wght' 700,
                                'GRAD' 0,
                                'opsz' 72;
                            font-size: 30px;
                            font-weight: 700;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }

        .guide {
            width: 100%;
            // border: $border;
            background-color: #fff;
            margin-top: 70px;
            height: 63vh;
            margin-bottom: 80px;

            >div.review {
                // border: $border;
                width: 65%;
                background-image: url(../img/review.jpg);
                background-size: cover;
                display: flex;
                flex-wrap: wrap;
                padding-left: 100px;
                padding: 0 100px 100px 100px;
                align-content: end;
                padding-bottom: 100px;

                >* {
                    display: flex;
                    width: 100%;
                    color: white;
                    height: 60px;
                    align-items: center;
                    margin: 15px 0;

                }

                >h3 {
                    // border: $border;
                    font-size: 16px;
                    width: 600px;
                    letter-spacing: 6px;
                    height: 40px;
                }

                >h2 {
                    // border: $border;
                    font-size: 40px;
                    font-weight: 700;

                }

                >p {
                    // border: $border;
                    font-size: 15px;
                    line-height: 29px;

                }

                >div {
                    display: flex;
                    // border: $border;
                    width: 210px;
                    height: 55px;
                    background-color: #191919;
                    padding-left: 0;
                    transition: .4s;
                    justify-content: center;
                    align-items: center;
                    border-radius: 2px;

                    &:hover {
                        background-color: $colHover;
                    }

                    >a {
                        display: flex;
                        // border: $border;
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        text-transform: uppercase;
                        font-weight: 700;
                        margin: 0px auto;


                        >span.material-symbols-outlined {
                            // border: $border;
                            font-variation-settings:
                                'FILL' 0,
                                'wght' 700,
                                'GRAD' 0,
                                'opsz' 72;
                            font-size: 30px;
                            font-weight: 700;
                            margin-left: 5px;
                        }
                    }
                }
            }

            >div.tutor {
                // border: $border;
                width: 35%;
                display: flex;
                flex-wrap: wrap;
                padding-left: 50px;

                >h2 {
                    display: flex;
                    // border: $border;
                    width: 100%;
                    font-size: 30px;
                    font-weight: 700;
                    // margin-top: -5px;
                    margin-bottom: 40px;
                    position: relative;

                    &::after {
                        position: absolute;
                        left: 0;
                        content: '';
                        width: 25%;
                        height: 2px;
                        background-color: #ff8d61;
                        top: 60px;
                    }
                }

                >div {
                    // border: $border;
                    width: 100%;

                    >div {
                        display: flex;
                        // flex-wrap: nowrap;
                        width: 100%;

                        >figure {
                            // border: $border;
                            width: 40%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            height: 115px;
                            position: relative;
                            transition: .4s ease-in-out;

                            &::after {
                                content: '';
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background-color: #ffffff10;
                                opacity: 0;
                                transition: .4s ease-in-out;
                            }

                            &:hover>img {
                                width: 100%;
                                transition: .4s ease-in-out;
                            }

                            &:hover::after {
                                opacity: 1;
                                transition: .4s ease-in-out;
                            }

                            >img {
                                // border: $border;
                                width: 110%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                object-fit: contain;
                            }
                        }

                        >div {
                            width: calc(100% - 120px);
                            padding-left: 15px;
                            padding-top: 5px;

                            >a {
                                // border: $border;
                                width: 100%;
                                display: block;
                                font-size: 18px;
                                font-weight: 700;
                                transition: .4s ease-in-out;

                                &:hover {
                                    color: $colBlu;
                                    transition: .2s ease-in-out;
                                }

                            }

                            >span {
                                display: flex;
                                // border: $border;
                                width: 100%;
                                font-size: 13px;
                                font-weight: 400;
                                color: rgb(112, 112, 112);
                                justify-content: start;
                                align-content: end;
                                padding-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    >.blog {
        width: 100%;
        height: 18vh;
        // border: $border;
        display: flex;
        // background-color: rgb(25, 25, 25);
        position: relative;


        >div {
            // border: $border;
            width: 100%;
            height: 100%;
            background-color: rgb(25, 25, 25);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .2s ease-in-out;

            &:hover {
                background-color: $colBlu;
                transition: .2s ease-in-out;
            }


            >a {
                // border: $border;
                width: 100%;
                height: 100%;
                display: flex;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 15px;
                justify-content: center;
                align-items: center;
                color: #fff;
                text-transform: uppercase;

                .material-symbols-outlined {
                    margin-left: 15px;
                    font-variation-settings:
                        'FILL' 0,
                        'wght' 600,
                        'GRAD' 0,
                        'opsz' 48;
                    font-size: 20px;
                    // font-weight: 700;
                }

            }
        }
    }

    >.gallery {
        width: 100%;
        position: relative;
        background-color: rgb(242, 242, 242);



        >p {
            display: flex;
            // border: $border;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 6px;
            color: rgb(82, 82, 82);
            width: 100%;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            margin-top: 120px;
        }

        >h2 {
            display: flex;
            width: 100%;
            // border: $border;
            justify-content: center;
            align-items: center;
            font-size: 48px;
            font-weight: 700;
            text-transform: capitalize;
            padding: 24px;
            position: relative;
            margin-bottom: 80px;

            &::after {
                content: '';
                position: absolute;
                border: 1px solid #ff8d61;
                width: 90px;
                bottom: 0;
            }
        }

        >div {
            display: flex;
            flex-wrap: wrap;
            // border: $border;
            justify-content: space-between;
            align-content: space-between;
            padding-left: 9%;
            padding-right: 9%;
            flex-grow: 1;
            // margin-bottom: 120px;


            >div {
                // border: $border;
                display: flex;
                flex-wrap: wrap;
                width: 22.5%;
                justify-content: center;
                align-content: space-between;
                padding-top: 50px;
                background-color: #fff;
                margin-bottom: 42.5px;
                border-top: 3px solid $colBlu;

                &:hover>a {
                    color: $colHover;
                    transition: .2s;
                }

                &:hover>span {
                    width: 75px;
                    height: 75px;
                    transition: 1s;
                    box-shadow: 0 0 10px 10px $colHover;

                }

                >span {
                    // border: $border;
                    display: flex;
                    flex-wrap: wrap;
                    width: 80px;
                    height: 80px;
                    background-color: $colHover;
                    border-radius: 50%;
                    justify-content: center;
                    align-items: center;
                    transition: .2s;
                    box-shadow: 0 0 0px 0px $colHover;




                    >i {
                        // border: $border;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        color: #fff;
                        font-size: 40px;
                        padding: 10px;
                    }

                }

                >a {
                    // border: $border;
                    display: flex;
                    padding: 0;
                    width: 120%;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                    margin-bottom: 50px;
                    font-size: 22px;
                    font-weight: 700;
                    text-transform: capitalize;
                    flex-wrap: nowrap;
                    position: relative;
                    transition: .2s;

                    &::after {
                        content: '';
                        position: absolute;
                        border: $border;
                        width: 100%;
                        height: 150px;
                        top: -100px;
                        left: 50;
                        background-color: black;
                        justify-content: center;
                        align-items: center;
                        opacity: 0;
                    }
                }
            }
        }
    }

    >.sign_up {
        // border: $border;
        position: relative;
        width: 100%;
        height: calc(82vh - 89px);
        background-image: url(../img/cta.jpg);
        background-size: cover;

        >h2 {
            display: flex;
            // border: $border;
            width: 60%;
            margin: 0px auto;
            font-size: 60px;
            font-weight: 700;
            line-height: 72px;
            color: #fff;
            justify-content: center;
            align-items: end;
            padding: 0 15%;
            text-align: center;
            margin-top: 50px;
        }

        >p {
            // border: $border;
            width: 60%;
            margin: 0 auto;
            font-size: 15px;
            color: #fff;
            text-align: center;
            padding: 18px 10%;
            line-height: 30px;
            height: 100px;
        }

        >div {
            display: flex;
            // border: $border;
            width: 50%;
            margin: 0 auto;
            margin-top: -94px;
            justify-content: center;


            >a {
                display: flex;
                // border: $border;
                width: 180px;
                height: 60px;
                justify-content: center;
                align-items: center;
                color: #fff;
                background-color: $colBlu;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                transition: .2s ease-in-out;
                padding-left: 20px;
                border-radius: 2px;

                &:hover {
                    background-color: $colHover;
                    transition: .2s ease-in-out;
                }

                >i.material-symbols-outlined {
                    display: flex;
                    font-variation-settings:
                        'FILL' 0,
                        'wght' 700,
                        'GRAD' 0,
                        'opsz' 40;
                    display: flex;
                    margin-left: 5px;
                    font-size: 32px;

                }
            }
        }
    }

    .subscribe {
        // border: $border;
        width: 100%;
        position: relative;
        height: 42vh;
        background-color: rgb(242, 242, 242);
        padding-left: 21%;
        padding-right: 21%;
        flex-grow: 1;

        >h3 {
            // border: $border;
            width: 60%;
            margin: 0 auto;
            font-size: 30px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: end;
            padding-bottom: 30px;

        }

        >input {
            margin: 0 auto;
            // border: $border;
            width: 60%;
            height: 55px;
            outline: 1px solid rgb(227, 227, 227);
            transition: .4s;
            border: none;

            &::placeholder {
                color: rgb(112, 112, 112);
                font-size: 13px;
                padding-left: 15px;
            }

            &:hover {
                outline: none;
                transition: .4s;
            }
        }

        >div {

            margin: 0 auto;
            // border: $border;
            width: 30%;
            height: 55px;
            border-radius: 2px;

            >a {
                border-radius: 2px;
                background-color: #191919;
                width: 100%;
                height: 100%;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .2s ease-in-out;

                &:hover {
                    background-color: $colHover;
                    transition: .2s ease-in-out;
                }
            }
        }
    }


    >footer {
        // border: $border;
        width: 100%;
        height: 70vh;
        position: relative;
        background-color: #fff;
        justify-content: space-between;
        padding: 0 9%;


        >div {
            // border: $border;
            border-bottom: 1px solid rgb(234, 234, 234);
            margin-top: 70px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-content: start;
            height: auto;
            padding-bottom: 60px;




            >* {
                h3 {
                    // border: $border;
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 20px;
                    width: 100%;
                    height: 20px;
                    display: flex;
                    line-height: 20px;

                }

                p {
                    // border: $border;
                    font-size: 15px;
                    font-weight: 400;
                    color: rgb(112, 112, 112);
                    line-height: 30px;
                    padding-top: 10px;

                }

                li {
                    // border: $border;
                    border-bottom: 1px solid rgb(234, 234, 234);
                    padding: 10px 0;
                    line-height: 25px;
                    width: 100%;
                    flex-wrap: nowrap;
                    justify-content: start;
                }

                a {

                    // border: $border;
                    font-size: 15px;
                    font-weight: 400;
                    color: rgb(25, 25, 25);
                    transition: .2s;
                    width: 90%;
                    display: flex;

                    &:hover {
                        color: $colBlu;
                        transition: .2s;
                    }
                }

                .material-symbols-outlined {
                    // border: $border;
                    width: 5%;
                    line-height: 20px;
                    margin-right: 5px;
                    padding-top: 1px;
                }

            }

            >div {
                // border: $border;
                width: 22%;


            }

            >.topic {
                // border: $border;
                width: 22%;

            }

            >.post {
                // border: $border;
                width: 22%;

            }

            >.comment {
                // border: $border;
                width: 22%;
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                align-content: start;


                >h3 {
                    // border: $border;
                    display: flex;
                    width: 100%;
                }

                >li {
                    // border: $border;
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    margin-top: -5px;
                    transition: .2s ease-in-out;

                    &:hover>span {
                        color: $colBlu;
                        transition: .2s ease-in-out;
                    }

                    >span {
                        // flex-grow: 1;
                        // border: $border;
                        width: 5%;
                        height: 100%;
                        padding-top: 5px;
                        transition: .2s ease-in-out;

                    }

                    >div {
                        height: 100%;
                        // border: $border;
                        flex-wrap: nowrap;
                        width: 95%;



                        >a {
                            display: inline;
                            align-content: start;

                        }

                        >p {
                            display: inline;
                            padding-top: 0;
                        }
                    }
                }
            }
        }

        >section {
            width: 100%;
            // border: $border;
            height: 8vh;
            margin: 40px auto;
            display: flex;
            align-items: center;

            * {
                font-size: 14px;

                >a {
                    transition: .2s ease-in-out;
                    color: rgb(25, 25, 25);

                    &:hover {
                        color: $colBlu;
                        transition: .2s ease-in-out;
                    }
                }

                >p {
                    color: rgb(112, 112, 112);
                }
            }

            >span {
                display: flex;
                // border: $border;
                width: 80%;
                height: 100%;
                align-items: center;
            }

            >div {
                // border: $border;
                width: 20%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                >span {
                    // border: $border;
                    display: flex;
                    width: 6.5vh;
                    height: 6.5vh;
                    // border-color: #28afc3;
                    border-radius: 50%;

                    &:nth-of-type(1) {
                        background-color: #0a66c2;
                    }

                    &:nth-of-type(2) {
                        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
                    }

                    &:nth-of-type(3) {
                        background-color: #252525;
                    }

                    &:nth-of-type(4) {
                        background-color: #ff0000;
                    }

                    >a {
                        width: 100%;
                        height: 100%;
                        
                        >i {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 18px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}