body header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/home_slider_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -159px;
  position: fixed;
}
body > nav {
  width: 100%;
  height: 90px;
  background-color: #28afc3;
  padding-left: 9%;
  padding-right: 9%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0px auto;
  z-index: 1000000;
}
body > nav > figure {
  width: 20%;
  height: 100%;
  justify-content: start;
  align-items: center;
  display: flex;
}
body > nav > figure > img {
  width: 100%;
}
body > nav > ul {
  display: flex;
  width: 65%;
  height: 100%;
  justify-content: start;
  align-items: center;
  padding-left: 15.675%;
}
body > nav > ul > li {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  position: relative;
  transition: 1s;
}
body > nav > ul > li:nth-of-type(1) ~ li {
  margin-left: 49px;
}
body > nav > ul > li:nth-of-type(1) > a {
  color: #fff;
}
body > nav > ul > li:nth-of-type(1) > a::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #28afc3;
  transform: rotate(45deg);
  position: absolute;
  top: 37.5px;
  opacity: 1;
}
body > nav > ul > li:hover > a {
  color: #fff;
  transition: 0.5s;
}
body > nav > ul > li:hover > a::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #28afc3;
  transform: rotate(45deg);
  position: absolute;
  top: 37.5px;
  transition: 0.4s;
  opacity: 1;
}
body > nav > ul > li .dropdown {
  height: 100%;
  justify-content: center;
  align-items: center;
}
body > nav > ul > li:hover > ul.drop {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
body > nav > ul > li .drop {
  width: 250%;
  position: absolute;
  top: 80px;
  left: 0;
  display: flex;
  background-color: rgb(247, 247, 247);
  flex-wrap: wrap;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  z-index: 3;
}
body > nav > ul > li .drop > li {
  display: flex;
  width: 100%;
  height: 51px;
  justify-content: center;
  align-content: center;
  color: black;
  z-index: 2;
}
body > nav > ul > li .drop > li:nth-of-type(1) > a::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgb(247, 247, 247);
  transform: rotate(45deg);
  position: absolute;
  top: -2.5px;
  left: 23px;
  opacity: 1;
  z-index: -10000;
}
body > nav > ul > li .drop > li:hover {
  background-color: #28afc3;
  z-index: 1000;
}
body > nav > ul > li .drop > li:hover > a {
  z-index: 999;
  color: white;
}
body > nav > ul > li .drop > li:hover > a::before {
  background-color: #28afc3;
}
body > nav > ul > li .drop > li > a {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 14px;
  transition: 0.4s;
  padding-left: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
}
body > nav > ul > li > a {
  display: flex;
  font-size: 15px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  justify-content: center;
  transition: 0.4s;
  width: 100%;
}
body > nav > ul > li > a::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #28afc3;
  transform: rotate(45deg);
  position: absolute;
  top: 40px;
  transition: 1s;
  opacity: 0;
}
body > nav > div {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  position: relative;
}
body > nav > div > ul {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
body > nav > div > ul > li {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: relative;
}
body > nav > div > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
body > nav > div > ul > li::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 40px;
  top: 40px;
}
body > nav > div > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  color: #fff;
  background-color: #191919;
  border-radius: 2px;
  transition: 0.2s ease;
}
body > nav > div > ul > li > a:hover {
  background-color: #ff8d61;
  transition: 0.2s ease;
}
body > nav > div > ul > li > ul {
  position: absolute;
  width: 140%;
  top: 77.5px;
  right: 0;
  background-color: rgb(247, 247, 247);
  visibility: hidden;
  opacity: 0;
}
body > nav > div > ul > li > ul > li {
  display: flex;
  width: 100%;
  height: 51px;
  justify-content: start;
  align-items: center;
  color: black;
  z-index: 2;
}
body > nav > div > ul > li > ul > li:nth-of-type(1) > a::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgb(247, 247, 247);
  transform: rotate(45deg);
  position: absolute;
  top: -2.5px;
  right: 32.5px;
  opacity: 1;
  z-index: -10000;
}
body > nav > div > ul > li > ul > li:hover {
  background-color: #28afc3;
  z-index: 1000;
}
body > nav > div > ul > li > ul > li:hover > a {
  z-index: 999;
  color: white;
}
body > nav > div > ul > li > ul > li:hover > a::before {
  background-color: #28afc3;
}
body > nav > div > ul > li > ul > li > a {
  width: 100%;
  height: 100%;
  font-size: 15px;
  text-transform: capitalize;
  padding-left: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
}
body > nav > .search {
  width: 5%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  /* the code below is generated by blackbox AI */
}
body > nav > .search:hover > div {
  visibility: visible;
  opacity: 1;
}
body > nav > .search::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #28afc3;
  transform: rotate(45deg);
  position: absolute;
  top: 73px;
  transition: 1s;
  opacity: 0;
}
body > nav > .search::before {
  content: "";
  width: 100%;
  height: 300px;
  position: absolute;
}
body > nav > .search:hover::after {
  opacity: 1;
}
body > nav > .search > a > span {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
body > nav > .search > div {
  width: 290px;
  height: 81px;
  position: absolute;
  top: 116px;
  right: -5px;
  background-color: rgb(247, 247, 247);
  padding: 12px 24px;
  display: flex;
  visibility: hidden;
  opacity: 0;
}
body > nav > .search > div::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgb(247, 247, 247);
  transform: rotate(45deg);
  position: absolute;
  top: -3px;
  right: 5px;
  opacity: 1;
}
body > nav > .search > div > input {
  width: 80%;
  padding: 10px;
}
body > nav > .search > div > input::-moz-placeholder {
  color: #707070;
  font-size: 13px;
}
body > nav > .search > div > input::placeholder {
  color: #707070;
  font-size: 13px;
}
body > nav > .search > div > div {
  width: 30%;
  width: 57px;
  height: 57px;
  background-color: #191919;
  display: flex;
  transition: 0.2s;
}
body > nav > .search > div > div:hover {
  background-color: #28afc3;
  transition: 0.2s;
}
body > nav > .search > div > div > a {
  width: 100%;
  height: 100%;
}
body > nav > .search > div > div > a > span {
  width: 100%;
  height: 100%;
  font-size: 22px;
  font-weight: bolder;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
}
body > nav > .search > div > div > a > span > .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}
body > main {
  width: 100%;
  height: 100vh;
  padding-left: 9%;
  position: relative;
}
body > main > h1 {
  font-size: 150px;
  width: 100%;
  height: 160px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  align-items: center;
  display: flex;
  margin-top: 290px;
}
body > main > p {
  width: 100%;
  font-size: 24px;
  color: #fff;
  height: 24px;
  margin-top: -92.5px;
}
body > main > div {
  width: 281px;
  height: 55px;
  background-color: #28afc3;
  margin-top: -142.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > main > div > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
body > main > div > a:hover {
  background-color: #ff8d61;
  transition: 0.2s;
}
body > .par {
  width: 100%;
  height: 55vh;
  background-color: rgb(242, 242, 242);
  display: flex;
  margin: 50px auto;
  margin-bottom: 0;
  position: relative;
  justify-content: center;
  padding-top: 40px;
}
body > .par > h3 {
  padding: 100px auto;
  width: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: 5px;
  color: rgb(82, 82, 82);
}
body > .par > p {
  width: 72%;
  font-size: 30px;
  text-align: center;
  color: rgb(112, 112, 112);
}
body > article {
  width: 100%;
  background-color: #fff;
  position: relative;
}
body > article > div {
  width: 100%;
  padding-top: 120px;
  display: flex;
  padding-left: 9%;
  padding-right: 9%;
  flex-wrap: wrap;
}
body > article > div > p {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 6px;
  color: rgb(82, 82, 82);
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
body > article > div > h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 24px;
  position: relative;
  margin-bottom: 100px;
}
body > article > div > h2::after {
  content: "";
  position: absolute;
  border: 1px solid #ff8d61;
  width: 90px;
  bottom: 0;
}
body > article > .news {
  background-color: #fff;
  width: 100%;
  padding: 0px 9%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
body > article > .news > .news_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body > article > .news > .news_box > div {
  width: 32%;
  display: flex;
  flex-direction: column;
}
body > article > .news > .news_box > div > figure {
  display: flex;
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
body > article > .news > .news_box > div > figure::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.062745098);
  opacity: 0;
  transition: 0.4s ease-in-out;
}
body > article > .news > .news_box > div > figure:hover::after {
  opacity: 1;
  transition: 0.4s ease-in-out;
}
body > article > .news > .news_box > div > figure:hover > img {
  width: 100%;
  height: 100%;
  transition: 1s;
}
body > article > .news > .news_box > div > figure > img {
  position: absolute;
  display: flex;
  width: 120%;
  height: 120%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 1s;
}
body > article > .news > .news_box > div > a {
  width: 100%;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  transition: 0.2s ease-in-out;
}
body > article > .news > .news_box > div > a:hover {
  color: #28afc3;
  transition: 0.2s ease-in-out;
}
body > article > .news > .news_box > div > span {
  font-size: 13px;
  color: rgb(112, 112, 112);
  font-weight: 400;
  margin-bottom: 15px;
}
body > article > .news > .news_box > div > span > a {
  font-size: 13px;
  color: rgb(25, 25, 25);
  transition: 0.2s ease;
}
body > article > .news > .news_box > div > span > a:hover {
  color: #28afc3;
  transition: 0.2s ease;
}
body > article > .news > .news_box > div > p {
  line-height: 25px;
  color: rgb(112, 112, 112);
}
body > article > .news .more {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
  background-image: url(../img/featured_article_1_bg.jpg);
  background-size: cover;
  margin: 70px auto;
  padding-left: 100px;
  padding: 0 100px 100px 100px;
  align-content: end;
  padding-bottom: 100px;
}
body > article > .news .more > * {
  display: flex;
  width: 100%;
  color: white;
  height: 60px;
  align-items: center;
  margin: 10px 0;
}
body > article > .news .more > h3 {
  font-size: 16px;
  width: 600px;
  letter-spacing: 6px;
  height: 40px;
}
body > article > .news .more > h2 {
  font-size: 40px;
  font-weight: 700;
}
body > article > .news .more > p {
  font-size: 15px;
  line-height: 29px;
}
body > article > .news .more > div {
  display: flex;
  width: 210px;
  height: 55px;
  background-color: #191919;
  padding-left: 0;
  transition: 0.4s;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
body > article > .news .more > div:hover {
  background-color: #ff8d61;
}
body > article > .news .more > div > a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px auto;
}
body > article > .news .more > div > a > span.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 72;
  font-size: 30px;
  font-weight: 700;
  margin-left: 5px;
}
body > article .guide {
  width: 100%;
  background-color: #fff;
  margin-top: 70px;
  height: 63vh;
  margin-bottom: 80px;
}
body > article .guide > div.review {
  width: 65%;
  background-image: url(../img/review.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  padding: 0 100px 100px 100px;
  align-content: end;
  padding-bottom: 100px;
}
body > article .guide > div.review > * {
  display: flex;
  width: 100%;
  color: white;
  height: 60px;
  align-items: center;
  margin: 15px 0;
}
body > article .guide > div.review > h3 {
  font-size: 16px;
  width: 600px;
  letter-spacing: 6px;
  height: 40px;
}
body > article .guide > div.review > h2 {
  font-size: 40px;
  font-weight: 700;
}
body > article .guide > div.review > p {
  font-size: 15px;
  line-height: 29px;
}
body > article .guide > div.review > div {
  display: flex;
  width: 210px;
  height: 55px;
  background-color: #191919;
  padding-left: 0;
  transition: 0.4s;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
body > article .guide > div.review > div:hover {
  background-color: #ff8d61;
}
body > article .guide > div.review > div > a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px auto;
}
body > article .guide > div.review > div > a > span.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 72;
  font-size: 30px;
  font-weight: 700;
  margin-left: 5px;
}
body > article .guide > div.tutor {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
}
body > article .guide > div.tutor > h2 {
  display: flex;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  position: relative;
}
body > article .guide > div.tutor > h2::after {
  position: absolute;
  left: 0;
  content: "";
  width: 25%;
  height: 2px;
  background-color: #ff8d61;
  top: 60px;
}
body > article .guide > div.tutor > div {
  width: 100%;
}
body > article .guide > div.tutor > div > div {
  display: flex;
  width: 100%;
}
body > article .guide > div.tutor > div > div > figure {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 115px;
  position: relative;
  transition: 0.4s ease-in-out;
}
body > article .guide > div.tutor > div > div > figure::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.062745098);
  opacity: 0;
  transition: 0.4s ease-in-out;
}
body > article .guide > div.tutor > div > div > figure:hover > img {
  width: 100%;
  transition: 0.4s ease-in-out;
}
body > article .guide > div.tutor > div > div > figure:hover::after {
  opacity: 1;
  transition: 0.4s ease-in-out;
}
body > article .guide > div.tutor > div > div > figure > img {
  width: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
}
body > article .guide > div.tutor > div > div > div {
  width: calc(100% - 120px);
  padding-left: 15px;
  padding-top: 5px;
}
body > article .guide > div.tutor > div > div > div > a {
  width: 100%;
  display: block;
  font-size: 18px;
  font-weight: 700;
  transition: 0.4s ease-in-out;
}
body > article .guide > div.tutor > div > div > div > a:hover {
  color: #28afc3;
  transition: 0.2s ease-in-out;
}
body > article .guide > div.tutor > div > div > div > span {
  display: flex;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  color: rgb(112, 112, 112);
  justify-content: start;
  align-content: end;
  padding-top: 5px;
}
body > .blog {
  width: 100%;
  height: 18vh;
  display: flex;
  position: relative;
}
body > .blog > div {
  width: 100%;
  height: 100%;
  background-color: rgb(25, 25, 25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}
body > .blog > div:hover {
  background-color: #28afc3;
  transition: 0.2s ease-in-out;
}
body > .blog > div > a {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}
body > .blog > div > a .material-symbols-outlined {
  margin-left: 15px;
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
  font-size: 20px;
}
body > .gallery {
  width: 100%;
  position: relative;
  background-color: rgb(242, 242, 242);
}
body > .gallery > p {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 6px;
  color: rgb(82, 82, 82);
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
body > .gallery > h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 24px;
  position: relative;
  margin-bottom: 80px;
}
body > .gallery > h2::after {
  content: "";
  position: absolute;
  border: 1px solid #ff8d61;
  width: 90px;
  bottom: 0;
}
body > .gallery > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding-left: 9%;
  padding-right: 9%;
  flex-grow: 1;
}
body > .gallery > div > div {
  display: flex;
  flex-wrap: wrap;
  width: 22.5%;
  justify-content: center;
  align-content: space-between;
  padding-top: 50px;
  background-color: #fff;
  margin-bottom: 42.5px;
  border-top: 3px solid #28afc3;
}
body > .gallery > div > div:hover > a {
  color: #ff8d61;
  transition: 0.2s;
}
body > .gallery > div > div:hover > span {
  width: 75px;
  height: 75px;
  transition: 1s;
  box-shadow: 0 0 10px 10px #ff8d61;
}
body > .gallery > div > div > span {
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  height: 80px;
  background-color: #ff8d61;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  box-shadow: 0 0 0px 0px #ff8d61;
}
body > .gallery > div > div > span > i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 40px;
  padding: 10px;
}
body > .gallery > div > div > a {
  display: flex;
  padding: 0;
  width: 120%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  flex-wrap: nowrap;
  position: relative;
  transition: 0.2s;
}
body > .gallery > div > div > a::after {
  content: "";
  position: absolute;
  border: 1px solid red;
  width: 100%;
  height: 150px;
  top: -100px;
  left: 50;
  background-color: black;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
body > .sign_up {
  position: relative;
  width: 100%;
  height: calc(82vh - 89px);
  background-image: url(../img/cta.jpg);
  background-size: cover;
}
body > .sign_up > h2 {
  display: flex;
  width: 60%;
  margin: 0px auto;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  color: #fff;
  justify-content: center;
  align-items: end;
  padding: 0 15%;
  text-align: center;
  margin-top: 50px;
}
body > .sign_up > p {
  width: 60%;
  margin: 0 auto;
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding: 18px 10%;
  line-height: 30px;
  height: 100px;
}
body > .sign_up > div {
  display: flex;
  width: 50%;
  margin: 0 auto;
  margin-top: -94px;
  justify-content: center;
}
body > .sign_up > div > a {
  display: flex;
  width: 180px;
  height: 60px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #28afc3;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  padding-left: 20px;
  border-radius: 2px;
}
body > .sign_up > div > a:hover {
  background-color: #ff8d61;
  transition: 0.2s ease-in-out;
}
body > .sign_up > div > a > i.material-symbols-outlined {
  display: flex;
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 40;
  display: flex;
  margin-left: 5px;
  font-size: 32px;
}
body .subscribe {
  width: 100%;
  position: relative;
  height: 42vh;
  background-color: rgb(242, 242, 242);
  padding-left: 21%;
  padding-right: 21%;
  flex-grow: 1;
}
body .subscribe > h3 {
  width: 60%;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 30px;
}
body .subscribe > input {
  margin: 0 auto;
  width: 60%;
  height: 55px;
  outline: 1px solid rgb(227, 227, 227);
  transition: 0.4s;
  border: none;
}
body .subscribe > input::-moz-placeholder {
  color: rgb(112, 112, 112);
  font-size: 13px;
  padding-left: 15px;
}
body .subscribe > input::placeholder {
  color: rgb(112, 112, 112);
  font-size: 13px;
  padding-left: 15px;
}
body .subscribe > input:hover {
  outline: none;
  transition: 0.4s;
}
body .subscribe > div {
  margin: 0 auto;
  width: 30%;
  height: 55px;
  border-radius: 2px;
}
body .subscribe > div > a {
  border-radius: 2px;
  background-color: #191919;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}
body .subscribe > div > a:hover {
  background-color: #ff8d61;
  transition: 0.2s ease-in-out;
}
body > footer {
  width: 100%;
  height: 70vh;
  position: relative;
  background-color: #fff;
  justify-content: space-between;
  padding: 0 9%;
}
body > footer > div {
  border-bottom: 1px solid rgb(234, 234, 234);
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: start;
  height: auto;
  padding-bottom: 60px;
}
body > footer > div > * h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  width: 100%;
  height: 20px;
  display: flex;
  line-height: 20px;
}
body > footer > div > * p {
  font-size: 15px;
  font-weight: 400;
  color: rgb(112, 112, 112);
  line-height: 30px;
  padding-top: 10px;
}
body > footer > div > * li {
  border-bottom: 1px solid rgb(234, 234, 234);
  padding: 10px 0;
  line-height: 25px;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: start;
}
body > footer > div > * a {
  font-size: 15px;
  font-weight: 400;
  color: rgb(25, 25, 25);
  transition: 0.2s;
  width: 90%;
  display: flex;
}
body > footer > div > * a:hover {
  color: #28afc3;
  transition: 0.2s;
}
body > footer > div > * .material-symbols-outlined {
  width: 5%;
  line-height: 20px;
  margin-right: 5px;
  padding-top: 1px;
}
body > footer > div > div {
  width: 22%;
}
body > footer > div > .topic {
  width: 22%;
}
body > footer > div > .post {
  width: 22%;
}
body > footer > div > .comment {
  width: 22%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
}
body > footer > div > .comment > h3 {
  display: flex;
  width: 100%;
}
body > footer > div > .comment > li {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-top: -5px;
  transition: 0.2s ease-in-out;
}
body > footer > div > .comment > li:hover > span {
  color: #28afc3;
  transition: 0.2s ease-in-out;
}
body > footer > div > .comment > li > span {
  width: 5%;
  height: 100%;
  padding-top: 5px;
  transition: 0.2s ease-in-out;
}
body > footer > div > .comment > li > div {
  height: 100%;
  flex-wrap: nowrap;
  width: 95%;
}
body > footer > div > .comment > li > div > a {
  display: inline;
  align-content: start;
}
body > footer > div > .comment > li > div > p {
  display: inline;
  padding-top: 0;
}
body > footer > section {
  width: 100%;
  height: 8vh;
  margin: 40px auto;
  display: flex;
  align-items: center;
}
body > footer > section * {
  font-size: 14px;
}
body > footer > section * > a {
  transition: 0.2s ease-in-out;
  color: rgb(25, 25, 25);
}
body > footer > section * > a:hover {
  color: #28afc3;
  transition: 0.2s ease-in-out;
}
body > footer > section * > p {
  color: rgb(112, 112, 112);
}
body > footer > section > span {
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
}
body > footer > section > div {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body > footer > section > div > span {
  display: flex;
  width: 6.5vh;
  height: 6.5vh;
  border-radius: 50%;
}
body > footer > section > div > span:nth-of-type(1) {
  background-color: #0a66c2;
}
body > footer > section > div > span:nth-of-type(2) {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f09433", endColorstr="#bc1888", GradientType=1);
}
body > footer > section > div > span:nth-of-type(3) {
  background-color: #252525;
}
body > footer > section > div > span:nth-of-type(4) {
  background-color: #ff0000;
}
body > footer > section > div > span > a {
  width: 100%;
  height: 100%;
}
body > footer > section > div > span > a > i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
}/*# sourceMappingURL=master.css.map */